<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>
	
	<head>
		<meta charset="UTF-8">
		<title> Login </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		 
	</head>
	<body>
	</br></br></br></br></br>
		
		<div class="img-container">
			<img 	src="{{ url_for('static', filename='descarga.png') }}" class="logo">
			</div>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">loguearse</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('login') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input id="username" name="username" type="text" placeholder=" USUARIO" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="CONTRASEÑA" class="textbox"/></br></br></br>
					<input type="submit" class="btn" value="INGRESAR"></br></br>
				</form>
			</h2>
			<p class="bottom">no existe la cuenta? <a class="bottom" href="{{url_for('register')}}">Registrarse</a></p>
		</div>
		</div>
	</body>
</html>
